.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 0 100px;
  margin: 80px 0;
  box-sizing: border-box;
}

/* Title */
.mywork-title h3 {
  text-align: center;
  line-height: 1.5;
  margin-top: 40px;
  max-width: 900px;
}

/* Projects Grid */
.mywork-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

/* Project  */
.mywork-box {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem yellowgreen;
}

/* Project Image */
.mywork-box img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.mywork-box:hover img {
  transform: scale(1.05);
}

/*  Overlay */
.mywork-layer {
  position: absolute;
  top: 0; /* cover full image */
  left: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.05), #d3b936);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  box-sizing: border-box;
}
/* Responsive Design */
@media (hover: hover) {
  .mywork-box:hover .mywork-layer {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .mywork-layer {
    padding-top: 0.1rem;
    font-size: 0.1rem;
  }
  .mywork-layer p {
    font-size: 0.7rem;
    line-height: 1;
  }
}

/* Overlay Text & Link */
.mywork-layer {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.mywork-layer a {
  display: inline-block;
  background-color: #3c952a;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.mywork-layer a:hover {
  background-color: #2e751e;
}

/* Responsive Tweaks */
@media (max-width: 700px) {
  .mywork-container {
    grid-template-columns: 1fr;
  }
  .mywork {
    padding: 0 30px;
  }
}
@media (max-width: 370px) {
  .mywork-container {
    grid-template-columns: 1fr;
  }
  .mywork {
    padding: 0 30px;
  }
  .mywork-layer p {
    font-size: 0.7rem;
    line-height: 1;
  }
}
