.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.intro img {
  margin-top: 100px;
  width: 15vh;
}
.intro h3 {
  margin-top: 150px;

  font-size: 40px;
}
.intro h2 {
  text-align: center;
  width: 70%;
  font-size: 90px;
  font-weight: 600;
}
.intro h2 span {
  background: linear-gradient(267deg, #da7c25 10%, rgb(227, 67, 213) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro h1 {
  text-align: center;
  width: 50%;
  font-size: 50px;
}
.intro p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}
.intro-resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  border-radius: 80px;
  cursor: pointer;
  padding: 15px 45px;
  background: linear-gradient(267deg, #da7c25 -5.09%, rgb(227, 67, 213) 102.7%);
}
.intro-resume:hover {
  border: 2px solid white;
}

@media screen and (max-width: 768px) {
  .intro img {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .intro h1 {
    width: 90%;
    font-size: 50px;
  }
  .intro p {
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }
  .intro-resume {
    padding: 20px 50px;
    border-radius: 40px;
  }
}
