.navbar {
  height: 5rem;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  max-width: 100%;
  font-size: 19px;

  height: 50px;
  background-color: rgb(24, 23, 4);
}

.logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}
.desktopMenu {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.desktopMenuListItem {
  margin: 1rem;
  text-align: center;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.desktopMenuListItem:hover {
  color: rgb(255, 255, 4);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid yellow;
}
.desktopMenuBtn {
  background: linear-gradient(267deg, #da7c25 0.36%, rgb(227, 67, 213) 102.7%);
  color: black;
  border: none;
  display: flex;
  width: 10rem;

  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}
.desktopMenuBtn:hover {
  transform: scale(1.15);
}
.desktopMenuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
}

.active {
  color: yellow;
  border-bottom: 3px solid yellow;
  padding-bottom: 0.5rem;
}

.mobilemenu {
  display: none;
  object-fit: cover;
  height: 2.8rem;
}

.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  max-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;
}

.listItem {
  color: rgb(255, 255, 255);
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: rgb(30, 30, 30);
}

@media screen and (max-width: 720px) {
  .mobilemenu {
    display: flex;
  }
  .desktopMenu {
    display: none;
  }
  .desktopMenuBtn {
    display: none;
  }
}
